@media only screen and (max-width: 800px) {
    #desktop {display: none;}
    .ios {display: initial !important;}

    center {
        text-align: center;
    }

    .ios {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-image: url('../assets/iOS/bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 14px;
        font-family: 'AppleRegular';
        overflow-x: hidden;
    }

    .statusbar {
        position: absolute;
        top: 0;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .statusbar img {
        height: 20px;
    }

    .statusbar span {
        margin-left: 35%;
        margin-right: 35%;
    }

    .appmenu {
        margin: 40px 0px 0px 30px;
    }

    .appmenu a {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
        text-align: center;
    }

    .appmenu a img {
        height: 70px;
        background-color: #d3d3d3;
        border-radius: 15px;
    }

    .appdock {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #ffffff66;
        padding: 0px;
        text-align: center;
    }

    .appdock .appmenu a {
        color: #00000000;
        padding: 0 !important;
    }

    .appdock .appmenu a img {
        height: 50px;
        padding: 10px;
    }

    .mob-body {
        font-family: 'AppleRegular';
        background: hsl(0, 0%, 94%);
        overflow-x: hidden;
    }

    .mob-body .statusbar {
        background-color: rgb(228, 228, 228);
    }

    .ma-navbar {
        padding: 15px;
        width: 100%;
        background-color: hsla(0, 0%, 92%, 0.95);
        margin-top: 30px;
        position: sticky;
        top: 0;
    }

    .ma-navbar span {
        float: right;
        margin-right: 30px;
    }

    .ma-navbar a {
        color: #6767ff;
        text-decoration: none;
    }

    .ma-content {
        padding: 30px;
    }

    .ma-info-box {
        background:hsl(0, 0%, 92%);
        border-radius: 10px;
        border: gray 1px solid;
        padding: 15px;
    }
}